{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}
	<main
		id="main">
		<!-- ======= Portfolio Section ======= -->
		<section id="portfolio" class="portfolio section-bg">
			<div class="container">

				<div class="section-title">
					<h2>Portfolio</h2>
				</div>

				<div class="row portfolio-container" {# data-aos="fade-up" data-aos-delay="100" #}>

					<div class="col-lg-4 col-md-6 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<h3>Klass Event
							</h3>
							<img src="{{ asset('build/images/klass_event.jpeg') }}" class="img-fluid" alt="">
							<div class="portfolio-links">
								<a href="{{ asset('build/images/klass_event.jpeg') }}" data-gall="portfolioGallery" class="venobox" title="App 1">
									<i class="bx bx-plus"></i>
								</a>
								<a href="http://www.klassevent.com/" title="More Details">
									<i class="bx bx-link"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- End Portfolio Section -->
	</main>

{% endblock %}
